<div class="container mt-10 mb-10">
  <form class="mt-5 mb-5" [formGroup]="newItem" (ngSubmit)="addItem()">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="item-name">Name</label>
        <input type="text"
               class="form-control"
               id="item-name"
               placeholder="Name (required)"
               formControlName="name" />
      </div>
      <div class="form-group col-md-3">
        <label for="item-price">Price</label>
        <input type="number"
               class="form-control"
               id="item-price"
               placeholder="Price"
               formControlName="value" />
      </div>
      <div class="form-group col-md-3">
        <label for="item-category">Category</label>
        <select id="item-category"
                class="form-control"
                formControlName="category">
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3 d-flex align-items-end">
        <button type="submit" class="btn btn-primary form-control" [disabled]="!newItem.valid">Add</button>
      </div>
    </div>
  </form>
</div>
